{{#partial "content"}}

<p>
  This is <a href="https://yaml.org/">YAML</a> config
  of your repository
  (read this
  <a href="https://github.com/artipie/artipie/blob/master/README.md">README</a>
  file to get help):
</p>

<form id="config-form">
  <fieldset>
    <textarea id="repo-config" name="config" type="textarea" style="width: 100%; height: 12em;"
>{{#if found}}
{{config}}
{{else}}
repo:
  type: file
  storage: default
  permissions:
    \*:
      - \*
{{/if}}</textarea>
    <input id="config-submit" type="submit" value="Update"/>
  </fieldset>
</form>
<script>
  {{#if found}}
  const exists = true;
  {{else}}
  const exists = false;
  {{/if}}
  const elConfig = document.getElementById('repo-config');
  document.getElementById('config-submit').addEventListener('click', async (evt) => {
    // create or update
    evt.preventDefault();
    const rsp = await fetch(`/api/repos${window.location.pathname}`, {
      body: elConfig.value,
      method: exists ? 'PATCH' : 'PUT'
    });
    console.log(rsp);
    if (rsp.status == 200) {
      location.reload();
    }
  });
</script>

<p>
  Try this config for a simple private
  <a href="https://maven.apache.org/">Maven repo</a>
  (full explanation is <a href="https://github.com/artipie/artipie/blob/master/README.md#maven-repo">here</a>):
</p>

<pre>repo:
  type: maven
  storage: default
  permissions:
    {{user}}:
      - upload
      - download
    torvalds:
      - download</pre>

<p>With this confirmation,
the GitHub user <a href="https://github.com/{{user}}"><code>@{{user}}</code></a>
will be able to publish Maven artifacts and
<a href="https://github.com/torvalds"><code>@torvalds</code></a> will
only be able to download them. Nobody else will have any access to the repo.</p>

<p>This is how you may configure it inside your
<a href="https://maven.apache.org/guides/introduction/introduction-to-the-pom.html"><code>pom.xml</code></a>
provided your repository name is <code>{{user}}/test</code>:</p>

<pre>&lt;project&gt;
  [...]
  &lt;distributionManagement&gt;
    &lt;snapshotRepository&gt;
      &lt;id&gt;artipie&lt;/id&gt;
      &lt;url&gt;https://central.artipie.com/{{user}}/test&lt;/url&gt;
    &lt;/snapshotRepository&gt;
  &lt;/distributionManagement&gt;
  &lt;repositories&gt;
    &lt;repository&gt;
      &lt;id&gt;artipie&lt;/id&gt;
      &lt;url&gt;https://central.artipie.com/{{user}}/test&lt;/url&gt;
    &lt;/repository&gt;
  &lt;/repositories&gt;
&lt;/project&gt;</pre

<p>You publish just with
<a href="https://maven.apache.org/plugins/maven-deploy-plugin/usage.html"><code>mvn deploy</code></a>
and you download with
<a href="https://maven.apache.org/plugins/maven-compiler-plugin/index.html"><code>mvn compile</code></a>.

{{/partial}}
{{> base}}
