{{#partial "content"}}

<p>Obtain
GitHub <a href="https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token">personal access token</a>
and use it as a password in authentication through package managers,
your username is <code>github.com/{{user}}</code>.</p>

<!--
<form action="/api/users/{{user}}/password" method="POST">
  <input id="new-password" name="password" type="password" placeholder="Your password..." size="35" required="true"/>
  <input id="new-repo-submit" type="submit" value="Change"/>
</form>
-->

<p>
  Your repositories:
</p>

<form action="/api/repos/{{user}}" method="GET">
  <label>Create new repository:</label>
  <input id="new-repo-name" name="repo" type="text" size="25" required="true" pattern="[a-z0-9]{3,16}"/>
  <label>Type:</label>
  <select name="type">
    <option value="maven">Maven</option>
    <option value="file">Binary</option>
    <option value="docker">Docker</option>
    <option value="npm">NPM</option>
    <option value="rpm">RPM</option>
    <option value="maven-proxy">Maven proxy (mirror)</option>
    <option value="file-proxy">Binary proxy (mirror)</option>
    <option value="maven-group">Maven group (virtual)</option>
  </select>
  <input id="new-repo-submit" type="submit" value="Add"/>
</form>

<ul>
{{#repos}}
  <li>
    <a href="/{{this}}">{{this}}</a>
  </li>
{{/repos}}
</ul>

<p>
  <span class="firebrick">DISCLAIMER</span>:
  The service provided to you by Artipie is free of charge
  and we expect you to behave good. Don't host here anything aside from
  your private software packages. Too large or abusive files may be deleted without
  notice. We truly hope that you enjoy our service and want it to stay alive.
  Thanks!
</p>

{{/partial}}
{{> base}}
